.title {
    background-color: white;
}

.uploaded-file-name {
    font-size: 18px;
    padding-top: 20px;
}

.upload-container {
    text-align: center;
    border: 1px dashed gray;
    background-color: white;
}

.upload-content-container {
    color: gray;
    font-weight: bold;
    padding-top: 20px;
    display: block;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.upload-file-icon {
    --sds-c-icon-color-foreground: rgb(0, 158, 219);
    --lwc-colorTextIconDefault: rgb(0, 158, 219);
}

.header {
    padding: 10px 0;
}

.back-button {
    cursor: pointer;
    background-color: rgb(0, 158, 219);
    display: inline-block;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    --lwc-colorTextIconDefault: white;
}

.back-button-disabled {
    cursor: pointer;
    background-color: #b9b9b9;
    display: inline-block;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    color: #e6e5e5;
    --lwc-colorTextIconDefault: #CCCCCC;
}

.back-button:hover {
    background-color: #1798C1;
    --lwc-colorTextIconDefault: white;
    color: white;
}

.back-arrow-icon {
    vertical-align: text-top;
    margin-right: 5px;
}

.current-path-indicator {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.table-container {
    display: block;
    height: 300px;
    overflow-y: auto;
    background-color: white;
}

.table-row {
    font-weight: normal;
    padding: 6px 0;
}

.table-row:hover {
    background-color: #ccc;
}

.file-type-icon {
    vertical-align: text-top;
    margin-right: 5px;
}

.delete-modal {
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.button-cursor {
    cursor: pointer;
}

.upload-button {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 8px 30px;
    background-color: rgb(0, 158, 219);
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.upload-button:hover, .upload-button:active {
    background-color: rgb(0, 137, 191);
}

.file-chooser {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 999;
}

.delete-modal-buttons-container {
    text-align: center;
    margin-top: 20px;
}

.spinner-container {
    height: 300px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.file-table-container {
    background-color: white;
    padding: 10px;
}

.search-input-container {
    display: grid;
    grid-template-columns: 80% auto;
    gap: 10px;
}